@keyframes marquee {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(-100%)
    }
}

@keyframes rotateCentar {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(360deg);
  }
  
}

@keyframes dot-animated {
    from {
        width: 100%;
        height: 100%;
        opacity: 1;
    }
    to {
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        opacity: 0;
    }
}