@layer base {
    /* 
    ============================================
                    GENERAL
    ============================================
    */

    * {
        @apply scroll-smooth;
        scrollbar-width: none;
    }

    body {
        @apply overflow-x-hidden bg-[var(--body)];
        color: var(--text-content);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--text-heading);
    }

    button {
        @apply outline-0;

        &:focus {
            @apply outline-0
        }
    }

    input,
    textarea {
        @apply outline-0 duration-300 ease-in-out;

        &:focus {
            outline: 2px solid var(--border-primary);
            border-color: var(--border-primary);
        }

        &:hover {
            box-shadow: 0 0 30px 2px var(--shadow-20);
        }
    }

    .container {
        padding: 20px;
    }

    .rounded-1 {
        border-radius: var(--rounded) !important;
    }

    .color-gradient {
        background: var(--bg-gradient);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .border-primary {
        border: var(--border-1) solid var(--border-primary);
    }

    .border-secondary {
        border: var(--border-1) solid var(--border-secondary);
    }

    .shadow-primary:hover {
        box-shadow: 0 0 30px 2px var(--shadow-20);
    }

    .btn {
        @apply flex justify-center items-center;
        padding: 1rem 2rem;
        color: var(--text-heading);
    }

    .horizon {
        background-image: radial-gradient(var(--secondary) 20%, var(--body) 72%);
    }

    .border-gradient,
    .hover\:border-gradient {
        @apply relative overflow-hidden
    }

    .border-gradient>*,
    .hover\:border-gradient>* {
        @apply relative;
        z-index: 3;
    }

    .border-gradient::before,
    .hover\:border-gradient::before {
        @apply absolute w-full h-auto;
        content: '';
        background-image: var(--border-gradient-strong);
        aspect-ratio: 1/1;
        z-index: 1;
    }

    .border-gradient.smooth::before,
    .hover\:border-gradient.smooth::before {
        background-image: var(--border-gradient-smooth);
    }

    .hover\:border-gradient::before {
        background-size: 300% 300%;
        transition: var(--duration-2);
    }

    .hover\:border-gradient:hover:before {
        background-size: 100% 100%;
    }

    .border-gradient::after {
        @apply absolute;
        content: '';
        background-color: var(--body);
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        aspect-ratio: 1/1;
        border-radius: inherit;
        z-index: 2;
    }

    .hover\:border-gradient::after {
        @apply absolute;
        content: '';
        background-color: var(--body);
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        aspect-ratio: 1/1;
        border-radius: inherit;
        z-index: 2;
    }

    .hover\:border-gradient.animate:hover::before {
        animation: rotateCentar 2s infinite linear;
    }

    .text-border-gradient {
        background-image: var(--border-gradient-strong);
        color: var(--body);
        background-clip: text;
        padding: 0 3px;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-stroke: 5px transparent;
        -moz-text-stroke: 5px transparent;
    }

    .loading {
        @apply bg-[#FFDD99] w-screen h-screen;
        transition: transform 0.5s ease-in-out;
        transition-delay: calc(var(--delay) * 100);
    }

    .loading-up {
        transform: translateY(-100%);
    }

    .loading-down {
        transform: translateY(100%);
    }

    /* 
    ============================================
                    NAVBAR
    ============================================
    */

    #main-nav {
        @apply z-10
    }

    #main-nav .logo {
        background-color: var(--body-50);
        backdrop-filter: blur(15px);
    }

    #main-nav .item-link span,
    #skill .item-link span {
        background-image: var(--bg-gradient);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-clip: text;
        color: inherit;
        transition: var(--duration-1);
    }

    #main-nav .item-link:hover>span,
    #main-nav .item-link.active>span,
    #skill .item-link:hover>span,
    #skill .item-link.active>span {
        background-clip: text;
        color: transparent;
    }

    #main-nav nav {
        @apply grid place-items-center fixed;

        background-color: var(--body-50);
        gap: 50px;
        padding: 30px;
        width: calc(100% - 15px);
        height: calc(100% - 15px);
        border-radius: var(--rounded);
        backdrop-filter: blur(40px);
        top: 50%;
        left: 50%;
        transform: translate(60%, -50%);
        z-index: 1;
        transition: var(--duration-1);
    }

    #main-nav nav.show {
        transform: translate(-50%, -50%);
    }

    #main-nav .show-nav {
        @apply relative;

    }

    #main-nav .show-nav::before,
    #main-nav .show-nav::after {
        @apply absolute;
        content: '';
        width: 15px;
        height: 15px;
        left: 3px;
        border-radius: 100%;
    }

    #main-nav .show-nav::before {
        bottom: 100%;
        box-shadow: 5px 5px 0 var(--tertiary);
    }

    #main-nav .show-nav::after {
        top: 100%;
        box-shadow: 5px -5px 0 var(--tertiary);
    }

    #main-nav .fadeOutRight,
    #main-nav .fadeInRight {
        animation-duration: 1s;
        animation-fill-mode: both;
    }

    #main-nav .fadeOutRight {
        animation-name: fadeOutRight;
    }

    #main-nav .fadeInRight {
        animation-name: fadeInRight;
    }

    /* 
    ============================================
                    HERO
    ============================================
    */

    #hero {
        @apply relative;
    }

    #hero::before,
    #hero::after {
        content: '';
        @apply absolute;
        top: 0;
        width: 467px;
        height: 100%;
        background-color: var(--primary);
        z-index: -1;
        opacity: 0.1;
        border-radius: var(--rounded-full);
        filter: blur(300px);
    }

    #hero::before {
        right: 100%;
    }

    #hero::after {
        left: 100%;
    }

    #hero .dot-animated {
        background: #00FF73;
        @apply relative;
        width: 8px;
        height: 8px;
        border-radius: 16px;
    }

    #hero .dot-animated::before,
    #hero .dot-animated::after {
        @apply absolute;
        background: rgba(0, 255, 115, 0.6);
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 16px;
        z-index: -1;
    }

    #hero .dot-animated::before {
        animation: dot-animated 2s infinite ease-in-out;

    }

    #hero .dot-animated::after {
        animation: dot-animated 2s infinite ease-in-out;
        animation-delay: 1s;
    }

    /* 
    ============================================
                    ABOUT
    ============================================
    */

    #about .profile {
        overflow: hidden;
    }

    #about .profile::before {
        @apply absolute;
        content: '';
        top: 100%;
        left: 0;
        width: 100%;
        height: 100px;
        z-index: 1;
        box-shadow: 0 0 15px 20px var(--body), 0 0 30px 35px var(--body), 0 0 60px 65px var(--body);
    }

    #about .about-point {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    /* 
    ============================================
                    SKILL
    ============================================
    */

    #skill {
        @apply relative;
    }

    #skill::before {
        content: '';
        @apply absolute top-0;
        background-color: var(--primary);
        left: 70%;
        width: 657px;
        height: 657px;
        z-index: -1;
        opacity: 0.1;
        border-radius: var(--rounded-full);
        filter: blur(300px);
    }

    #skill::after {
        @apply absolute bottom-0;
        content: '';
        background-color: var(--secondary);
        right: 70%;
        width: 753px;
        height: 753px;
        z-index: -1;
        opacity: 0.1;
        border-radius: var(--rounded-full);
        filter: blur(300px);
    }

    /* 
    ============================================
                    WORKS
    ============================================
    */

    #works .benner-content::before {
        @apply absolute top-0 left-0 w-full h-full;
        content: '';
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 30%, rgba(0, 0, 0, 0));
        border-radius: var(--rounded);
    }

    #works .clip-banner {
        @apply overflow-x-auto snap-x snap-mandatory;
        scrollbar-width: none;
    }

    #works .clip-banner .clip-banner-content {
        @apply flex gap-5;
    }

    #works .clip-banner .clip-banner-item {
        @apply relative snap-start;
        flex: 0 0 calc((100% / 1) - 15px);
    }

    #works .clip-banner .clip-banner-item::after {
        content: '';
        @apply absolute top-0 left-0 w-full h-full;
        transition: all 0.3s ease-in-out;

    }

    #works .clip-banner:hover .clip-banner-item:not(:hover)::after {
        backdrop-filter: blur(10px);
    }

    #works .clip-banner .clip-banner-item img {
        transition: all 0.3s ease-in-out;
    }

    #works .clip-banner .clip-banner-item:hover img {
        transform: scale(1.1);
    }

    /* 
    ============================================
                    CTA
    ============================================
    */

    #cta .cta-branding .branding-item::before {
        @apply absolute top-0 w-full h-full;
        content: '';
        background-image: linear-gradient(to right, transparent 0%, var(--shadow-20) 100%);
        left: 50%;
        z-index: -1;
    }

    #cta .cta-branding .branding-item::after {
        content: '';
        @apply absolute left-100 rounded-full;
        top: 50%;
        height: 300%;
        transform: translateY(-50%);
        background-color: var(--shadow-100);
        z-index: -1;
        aspect-ratio: 1/1;
        filter: blur(300px);
    }

    #cta .cta-content::before {
        content: '';
        @apply absolute top-full left-0 w-full;
        aspect-ratio: 32/9;
        background-color: var(--shadow-100);
        filter: blur(30px);
        box-shadow: 0 0 220px 2px var(--shadow-100);
        border-radius: 50%;
        z-index: -1;
    }

    /* 
    ============================================
                    CONTACT
    ============================================
    */

    #contact .contact-card .copied {
        @apply relative;
    }

    #contact .contact-card .copied::before {
        @apply absolute right-full text-green-500;
        content: 'Copied';
    }

    /* 
    ============================================
                    Project Page
    ============================================
    */

    .carousel .carousel-content {
        @apply flex overflow-x-auto scroll-smooth w-full h-fit snap-x snap-mandatory;
        column-gap: var(--gap);
    }

    .carousel .carousel-content .carousel-item {
        @apply h-full snap-start;
        flex: 0 0 auto;
        width: calc(100% / var(--perview) - (var(--gap) / 2));
    }
    
    .carousel .carousel-item .carousel-content, .carousel .carousel-content .carousel-item > *{
        @apply w-full h-full;
    }
    
    .carousel .carousel-nav.top {
        @apply top-0;
    }
    
    .carousel .carousel-nav.bottom {
        @apply mb-0;
    }
    
    .carousel .carousel-nav.end {
        @apply justify-end;
    }
    
    .carousel .carousel-nav.start {
        @apply justify-start;
    }
    
    .carousel .carousel-nav.center {
        @apply justify-center;
    }
    
    .carousel .carousel-nav.between {
        @apply justify-between;
    }

    /* 
    ============================================
                    OTHER
    ============================================
    */

    .marquee .marquee-content {
        animation: marquee 20s linear infinite;
    }

    .marquee .marquee-content h1 {
        @apply flex-1 text-center;
    }

    .hover\:marquee .marquee-content:hover {
        animation-play-state: paused;
    }

    .cursor::before {
        content: '';
        @apply absolute w-[10px] h-[10px] top-[50%] left-[50%] translate-[-50%] bg-amber-500 rounded-full outline-2 outline-offset-2 outline-amber-900;
    }

    .cursor-clicked .rect-animate {
        clip-path: circle(0 at 100% 100%);
    }

    .cursor-clicked.clicked .rect-animate {
        animation: wave 0.5s ease-in-out;
    }
}