@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));
@theme {
    /* color */
    --primary: #5454D4;
    --primary-50: rgba(84, 84, 212, 0.5);
    --secondary: #D5A553;
    --secondary-50: rgba(213, 165, 83, 0.5);

    /* border */
    --rounded: 10px;
    --rounded-full: calc(infinity * 1px);
    --border-1: 1px;
    --border-2: 2px;
    --border-4: 4px;

    /* background */
    --bg-gradient: linear-gradient(to right, var(--primary) 20%, var(--secondary) 100%);

    /* transition */
    --duration-1: all 0.2s ease-in-out;
    --duration-2: all 0.3s ease-in-out;
    --duration-3: all 0.4s ease-in-out;
    --duration-4: all 0.5s ease-in-out;

    /* font */
    --font-sans: "Montserrat", sans-serif;

    --body: #F9F4EB;
    --body-50: rgba(249, 244, 235, 0.5);
    --tertiary: #FCDCA6;
    --shadow-20: rgba(213, 165, 83, 0.2);
    --shadow-100: rgb(213, 165, 83);
    --border-primary: #D5A553;
    --border-secondary: #7D7A76;
    --border-gradient-strong: linear-gradient(135deg, var(--secondary) 30%, var(--primary) 100%);
    --border-gradient-smooth: linear-gradient(135deg, var(--secondary-50) 30%, var(--primary) 100%);
    --text-heading: #000000;
    --text-content: #3F3F3F;
}

.dark {
    --body: #19191B;
    --body-50: rgba(25, 25, 27, 0.5);
    --tertiary: #8FBFFA;
    --shadow-20: rgba(84, 84, 212, 0.2);
    --shadow-100: rgb(84, 84, 212);
    --border-primary: #5454D4;
    --border-secondary: #D9D9D9;
    --border-gradient-strong: linear-gradient(135deg, var(--primary) 30%, var(--secondary) 100%);
    --border-gradient-smooth: linear-gradient(135deg, var(--primary-50) 30%, var(--secondary) 100%);
    --text-heading: #FFFFFF;
    --text-content: #F3F4EF;
}

@keyframes marquee {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(-100%)
    }
}

@keyframes rotateCentar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

@keyframes dot-animated {
    from {
        width: 100%;
        height: 100%;
        opacity: 1;
    }

    to {
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        opacity: 0;
    }
}

@keyframes wave {
    0% {
        clip-path: circle(0 at 100% 100%);
    }

    50% {
        clip-path: circle(300% at 100% 100%);
    }

    100% {
        height: 0;
    }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@import './globals.css';
@import './responsive.css';